<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="./styles/styles.css" rel="stylesheet"/>
</head>
<body>
{{{body}}}
</body>
</html>




<h1> Welcome!</h1>
{{#if loggedIn}}
	You are logged in
	{{/if}}
	<br>

My Friends:
<br>
{{#each friends}}
{{this}}<br>
{{/each}}



{{name}}